<a href="https://colab.research.google.com/github/muzhiyaojing/PandasExercise/blob/master/01_Getting_%26_Knowing_Your_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 3. Occupation 
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [0]:
users = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep ='|', index_col='user_id')
users.head()
users.tail()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

         age gender     occupation zip_code
user_id
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [0]:
# the numbers of the rows and columns in the dataframe
users.shape

(943, 4)

In [0]:
# print all the column names in the dataframe
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [0]:
# output the distinct age in the dataframe
users['age'].value_counts(ascending=True)

7      1
66     1
73     1
10     1
11     1
62     2
69     2
68     2
64     2
58     3
59     3
61     3
70     3
65     3
14     3
63     3
54     4
16     5
13     5
15     6
56     6
52     6
60     9
57     9
41    10
55    11
53    12
46    12
43    13
47    14
      ..
45    15
38    17
34    17
18    18
37    19
49    19
48    20
50    20
51    20
42    21
36    21
40    21
39    22
44    23
19    23
31    25
33    26
21    27
35    27
23    28
32    28
20    32
29    32
24    33
26    34
27    35
28    36
22    37
25    38
30    39
Name: age, Length: 61, dtype: int64

In [0]:
# check how many distinct values in the age group, and the count of each age
users['age'].groupby(users['age']).count()

age
7      1
10     1
11     1
13     5
14     3
15     6
16     5
17    14
18    18
19    23
20    32
21    27
22    37
23    28
24    33
25    38
26    34
27    35
28    36
29    32
30    39
31    25
32    28
33    26
34    17
35    27
36    21
37    19
38    17
39    22
      ..
41    10
42    21
43    13
44    23
45    15
46    12
47    14
48    20
49    19
50    20
51    20
52     6
53    12
54     4
55    11
56     6
57     9
58     3
59     3
60     9
61     3
62     2
63     3
64     2
65     3
66     1
68     2
69     2
70     3
73     1
Name: age, Length: 61, dtype: int64

In [0]:
# check if the age column has any null value
users['age'].isnull().sum()
users['age'].notnull().sum()

943

In [0]:
# 10 what is the data type of each column？
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [0]:
11 # print only the occupation column
users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
6          executive
7      administrator
8      administrator
9            student
10            lawyer
11             other
12             other
13          educator
14         scientist
15          educator
16     entertainment
17        programmer
18             other
19         librarian
20         homemaker
21            writer
22            writer
23            artist
24            artist
25          engineer
26          engineer
27         librarian
28            writer
29        programmer
30           student
           ...
914            other
915    entertainment
916         engineer
917          student
918        scientist
919            other
920           artist
921          student
922    administrator
923          student
924            other
925         salesman
926    entertainment
927       programmer
928          student
929        scientist
930        scientist
931         educator
932         educator
933          student
934         engineer
935           doctor
936            other
937         educator
938       technician
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [0]:
# 12 How many different occupations there are in this dataset?
users['occupation'].nunique()

21

In [0]:
# 13. What is the most frequent occupation?
users['occupation'].value_counts().head(6)

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
Name: occupation, dtype: int64

In [0]:
# 14. Summarize the DataFrame
users.describe()    # by default, only the numeric columns are returned

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [0]:
# 15. summarize all the columns
users.describe(include='all')

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

In [0]:
# 16. Summarize only the occupation column
users['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [0]:
# 17. What is the mean age of users?
round(users['age'].mean(),1)

34.1

In [0]:
#18. What is the age with least occurance?
users['age'].value_counts().tail(5)

11    1
10    1
73    1
66    1
7     1
Name: age, dtype: int64

In [0]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

     |████████████████████████████████| 993kB 2.9MB/s
  Building wheel for PyDrive (setup.py) ... done

In [0]:
link ='https://drive.google.com/open?id=1Mu5u9GrybDdska-ljPXyBjTpdZIUev_6i7t4LRDfXM8'
fluff, id = link.split('=')
id # Verify that you have everything after '='

'1Mu5u9GrybDdska-ljPXyBjTpdZIUev_6i7t4LRDfXM8'

In [0]:
# TOPIC 1: WORLD FOOD FACTS
# step 3: use the tsv file and assign it to a dataframe called food
# Step 4: see the first 5 entries
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('food.tsv')  
food = pd.read_csv('food.tsv',sep='\t')
food.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    code  ... water-hardness_100g
0   3087  ...                 NaN
1   4530  ...                 NaN
2   4559  ...                 NaN
3  16087  ...                 NaN
4  16094  ...                 NaN

[5 rows x 163 columns]

In [0]:
# Step 5: What is the number of observations in the dataset?
# Step 6: What is the number of columns in the dataset?

food.shape

(356027, 163)

In [0]:
# Step 7: print the name of all the columns
food.columns
# Step 8: what is the name of 105th column?
food.columns[104]

'-glucose_100g'

In [0]:
# Step 9 : What is the type of the observations of the 105th column?
food.dtypes[104]

dtype('float64')

In [0]:
# Step 10: How is the dataset indexed?
food.index

RangeIndex(start=0, stop=356027, step=1)

In [0]:
# Step 11: What is the product name of the 19th observation?
food.loc[18,'product_name']

'Lotus Organic Brown Jasmine Rice'

In [0]:
# Ex 2: Chipotle

# Load the data
# See the first 10 entries

chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep ='\t')
chipo.head(10)

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98
5         3  ...     $10.98
6         3  ...      $1.69
7         4  ...     $11.75
8         4  ...      $9.25
9         5  ...      $9.25

[10 rows x 5 columns]

In [0]:
# What is the number of observations in the dataset?
chipo.shape

(4622, 5)

In [0]:
# print the name of all the columns
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [0]:
# How is the dataset indexed?
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [0]:
# What is the most ordered item?

c= chipo.groupby('item_name')
#c=c.sum()
#c = c.sort_values(['quantity'],ascending=False)
#c.head(1)

In [0]:
# What is the most ordered item?
# For the most-ordered item, how many items were ordered?
c= chipo.groupby('item_name').sum()
c.sort_values(['quantity'],ascending = False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [0]:
# What was the most ordered item in the choice_description column?

description = chipo.groupby('choice_description').sum()
description.sort_values(['quantity'],ascending=False).head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [0]:
# How many items were ordered in total? 
chipo['quantity'].sum()

4972

In [0]:
# Step 13: Turn the item price into a float
# step 13.a. Check the item price type
chipo['item_price'].dtype

# step 13.b. Create a lambda function and change the type of item price
dollarize = lambda x: float(x[1:-1])
chipo['item_price']=chipo['item_price'].apply(dollarize)

# step 13.c. Check the item price type
chipo['item_price'].dtype

dtype('float64')

In [0]:
# Step 14. How much was the revenue for the period in the dataset?
chipo['quantity'].dtype
revenue = (chipo['quantity']*chipo['item_price']).sum()
revenue

39237.02

In [0]:
# Step 15. How many orders were made in the period?
chipo['order_id'].value_counts().count()

1834

In [0]:
# Step 16. What is the average revenue amount per order?
chipo['revenue']=chipo['quantity']*chipo['item_price']
order_group=chipo['revenue'].groupby(chipo['order_id']).sum()
order_group.mean()

21.394231188658654

In [0]:
# Step 17. How many different items are sold?
chipo['item_name'].nunique()

50